@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

This is my small application. Click on Fetch Data to see the list of forcasted data.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
